@import "tailwindcss";

:root {
  --primary: #eeeeee;
  --accent: #363029;
  --neutral: #383838;
  --title-color: #46ac46;
}

body {
 
}

.title {
  color: var(--title-color);
}

@media (min-width: 720px) {}